@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@using SinemaApp.Models;
@model List<Salon>

    <p class="mesaj"></p>

    <table class="table">
        <thead>
            <tr>
                <th>Salon İsmi</th>
                <th>Detaylari Görüntüle</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (Salon salon in Model)
            {
                <tr>

                    <td>@salon.Isim</td>
                    <td><a asp-controller="Salon" asp-action="Detay" asp-route-id="@salon.Id" >Detaylara Git</a></td>
                </tr>
            }

        </tbody>
    </table>

    @section Scripts{
        <script>
        $(".koltukEkle").click(
            function () {
                var id = $(this).attr("data-salonId");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Koltuk/Ekle/",
                        data: {Id : id},
                        success: function (durum) {
                            if (durum == "basarili") {
                                window.location.replace("/Salon/Listele" + id);
                            }
                            else {
                                $(".p.mesaj").html("Hata olustu");
                            }
                        }
                    }
                )
            }
        );
        </script>
    }





